.head{
    text-align: center;
}
.container{
   background-color: #c6dad4;
   width: 100%;
   height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;


}
.calculator{
    background-color: rgb(7, 67, 80);
    padding: 20px;
    border-radius: 20px;
}
.button{
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(255,255,255,0.1), 5px 5px 15px rgba(0,0,0,0.2);
    background: transparent;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    margin: 10px;
}
.inputdiv{
   display: flex;
    justify-content: flex-end;
    margin: 20px 0;
   width: 100%;
   height: 50px;
   

   

}
.input{
    text-align: right;
    flex: 1;
    font-size: 25px;
    background-color: rgb(7, 67, 80);
    border: none;
    color: white
}
.equal{
    width: 145px;
}

.button:hover{
    background-color:rgb(6, 59, 71) ;
}
.button:active{
    background-color:rgb(5, 54, 65) ;
}